@font-face {
    font-family: 'Digital Display';
    src: url('Digital-Display.woff2') format('woff2'),
        url('Digital-Display.woff') format('woff'),
        url('Digital-Display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

